<div>
    <img style="width:15%;margin-left:10px;margin-top:10px" src="icon/logo1.svg" />
    <img style="width:75%;margin-top:15px" src="icon/logo.png" />
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ims/submission/list">
                        <span class="oi oi-file" aria-hidden="true"></span> IMS Submissions
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="IsSuperAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/user-accounts">
                        <span class="oi oi-people" aria-hidden="true"></span> User Accounts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView> 
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
